doctype html
html
  head
    title Dancia Academy
    block scripts
    block style    
  body
    nav#navbar 
        ul 
            div#logo
             img(src="/static/logoc.png")
             | Dancia 
            li #[a(href="/")  Home ]
            li #[a(href="/")  About ]
            li #[a(href="/")  Services]
            li #[a(href="/")  Class info]
            li #[a(href="/contact")  Contact Us]
    
    block content        
    footer#footer 
        | CopyRight © 2024 Dancia.com | All Rights Reserved 
    